html{
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(247, 247, 124);
    color: blue;
}

li{
    background-color: aqua;
    color: black;
}

image{
    max-width: 100%;
}

a{
    color: rgb(187, 130, 240);
}

a:hover
{
    color: green;
}

.rounded{
    border-radius: 20%;
}

.index{
    color: brown;
}

.themes{
    background-color: rgb(189, 146, 230);
}

.vertbor{
    border-radius: 40%;
}

.table{
    background-color: aqua;
    color: black;
}