html{
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    background-color: yellow;
    color: blue;
}

li{
    background-color: aqua;
    color: black;
}

image{
    max-width: 100%;
}

a{
    color: blueviolet;
}

a:hover
{
    color: green;
}

.rounded{
    border-radius: 20%;
}

.index{
    color: brown;
}

.themes{
    background-color: blueviolet;
}

.vertbor{
    border-radius: 40%;
}

.table{
    background-color: aqua;
    color: black;
}